.LoginSignup {
  width: 45%;
  text-align: center;
  background-color: white;
  margin: 10px auto;
  padding: 30px 20px;
  border-radius: 2px;
}
* {
  margin: 0;
  padding: 0;
}
.login-sign-main {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90vh;
  background-color: #fce3fe;
}
.input-values {
  text-align: center;
}
.input-values input {
  border: 1px ridge rgb(155, 151, 151);
  width: 90%;
  margin: 8px;

  height: 40px;
  padding-left: 10px;
}
.input-values input:focus {
  border: 1px ridge rgb(240, 211, 211);
  outline: 0;
}
.already-have {
  transform: translateX(-90px);
  margin-top: 20px;
  font-size: 13px;
}
.privacy-policy {
  display: flex;
  font-size: 13px;
  gap: 8px;
  margin-top: 15px;
  padding-left: 20px;
}
.already-have a {
  color: orange;
  text-decoration: none;
  padding: 2px;
}
.input-values button {
  width: 90%;
  margin-top: 5px;
  color: whitesmoke;
  background-color: rgb(247, 13, 13);
  border: 0;
  cursor: pointer;
  height: 40px;
}
