@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
::-webkit-scrollbar {
  width: 0;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  height: 100vh;
}
