@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  gap: 0;

  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: linear-gradient(white, rgb(174, 0, 255));
}
